@model ApexChartColumnChartResponseModel;
@{
    var _series = Model.Series;
    var _labels = Model.Labels;
}

<div id="chart"></div>

@section scripts {
    <script>
        let _series = @Html.Raw(JsonConvert.SerializeObject(_series));
        let _labels = @Html.Raw(JsonConvert.SerializeObject(_labels));
        var options = {
            series: _series,
            chart: {
                type: 'bar',
                height: 350,
                stacked: true,
                stackType: '100%'
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    legend: {
                        position: 'bottom',
                        offsetX: -10,
                        offsetY: 0
                    }
                }
            }],
            xaxis: {
                categories: _labels,
            },
            fill: {
                opacity: 1
            },
            legend: {
                position: 'right',
                offsetX: 0,
                offsetY: 50
            },
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
}