@{
    ViewData["Title"] = "Login Create";
}

<a href="/signUp" class="btn btn-outline-primary">SignUp</a>
<h1>Login</h1>
<form action="/login" method="post">
    <div class="row">
        <div class="offset-3 col-6">
            <div class="form-group mb-2">
                <label for="">Username</label>
                <input type="text" class="form-control" id="" name="UserName" placeholder="Username ...">
            </div>            
            <div class="form-group mb-2">
                <label for="">Password</label>
                <input type="password" class="form-control" id="" name="Password" placeholder="Password ...">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
