@{
    ViewData["Title"] = "Blog Create";
}
<div class="mb-3">
    <label for="BlogTitle" class="form-label">Blog Title</label>
    <input type="text" class="form-control" id="BlogTitle" name="BlogTitle"
           placeholder="">
</div>
<div class="mb-3">
    <label for="BlogAuthor" class="form-label">Blog Author</label>
    <input type="text" class="form-control" id="BlogAuthor" name="BlogAuthor"
           placeholder="">
</div>
<div>
    <label for="BlogContent" class="form-label">Blog Content</label>
    <textarea type="text" class="form-control" id="BlogContent" name="BlogContent"></textarea>
</div>
<div class="mt-4">
    <a href="/Blog" class="btn btn-dark">Back</a>
    <button type="button" class="btn btn-success" id="btnSave">Create</button>
</div>

@section scripts {
    <script>
        $('#btnSave').click(function () {
            let title = $("#BlogTitle").val();
            let author = $("#BlogAuthor").val();
            let content = $("#BlogContent").val();

            let _reqModel = {
                BlogTitle: title,
                BlogAuthor: author,
                BlogContent: content
            }

            $.ajax({
                url: "/BlogAjax/Save",
                data: {blog:_reqModel},
                type : "POST",
                dataType: "json",
                success: function(result){
                    console.log(result)
                    if(result.Message){
                        Swal.fire({
                            title: "Success.",
                            text: result.Message,
                            icon: "success",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.href = "/BlogAjax"
                            }
                        });
                    }else{
                        Swal.fire({
                            title: "Error!.",
                            text: result.Message,
                            icon: "error",
                        })
                    }
                },
                error: function(errormessage){
                    console.log(errormessage.responseText);
                }
            })
        })
    </script>
}
